[Unit]
Description=NextDom NodeRed
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
 
User=nextdom
Group=nextdom
UMask=007
NotifyAccess=main
ExecStart=DAEMON_PATH
Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
